/.recommenders/
/.metadata/
/energy_low/
/funny_low/
/Today I Am Jackaboy.exe
/Today, I Am Jack b2.jar
/Today, I Am Jack b3.jar
/Today, I Am Jack b4.jar
/Today, I Am Jack.jar
/Today,I Am Jackaboy (2).exe
/jack.pspimage
/jacksroom.pspimage
/livingroom.pspimage
/*.jar
/*.exe
/*.bat
/engine/
